<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
  <script src="https://www.amcharts.com/lib/3/maps/js/usaLow.js"></script>
  <script src="https://www.amcharts.com/lib/3/maps/js/swedenLow.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all" />

  <link rel="stylesheet" href="./style.min.css"/>
  <link rel="stylesheet" href="./infobox.min.css"/>
  <head>
    <title>Team Awesomeness</title>
  </head>
  <body>
    <div ng-app="app" ng-controller="ctrl">
      <div class="period-box">
        <h1>{{datestring}}</h1>
        <input type="range" min="0" max="11" ng-model="selectedPeriod" id="fader">
        <button ng-Click="animate()" ng-if="play == false">
          <i class="fa fa-play fa-fw"></i>
        </button>
        <button ng-Click="animate()" ng-if="play">
          <i class="fa fa-pause fa-fw"></i>
        </button>
        <div>
          <button ng-click="setMapType('cover')" ng-class="mapType == 'cover' ? 'button button-active':'button'">Beläggning</button>
          <button ng-click="setMapType('nights')" ng-class="mapType == 'nights' ? 'button button-active':'button'">Andel övernattning</button>
        </div>
      </div>
      <div id="chartdiv" class="map"></div>

      <div ng-if="showInfo" class="info-box">
          <h2 style="margin-bottom: 20px;">{{selectedData.name}}</h2>
          <span class="date">{{datestring}}</span>
          <div class="info-parts">
              <div class="info-part" style="margin-bottom: 25px;">
                  <i class="fa fa-home fa-fw"></i>
                  <div>
                      <span class="info-title">Beläggning</span><br />
                      <span class="info-value"><strong>{{selectedData.cover.all}}%</strong></span>
                  </div>
              </div>
              <div class="info-part">
                  <i class="fa fa-bed fa-fw"></i>
                  <div>
                      <span class="info-title">Övernattningar</span><br />
                      <span class="info-value"><strong>{{selectedData.nights.percentage}}%</strong>
                      <span class="small">(av Sverige)</span></span>
                  </div>
              </div>
              <div class="info-part">
                  <i class="fa fa-thermometer-empty fa-fw"></i>
                  <div>
                      <span class="info-title">Medeltemperatur</span><br />
                      <span class="info-value"><strong>{{selectedData.weather.temp}}°C</strong></span>
                  </div>
              </div>
              <div class="info-part">
                  <i class="fa fa-tint fa-fw"></i>
                  <div>
                      <span class="info-title">Nederbörd</span><br />
                      <span class="info-value"><strong>{{selectedData.weather.preci}}mm</strong></span>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <hr/>
        Made in under 16 hours by Team Awesomeness as a part of <a href="http://hackforsweden.se/">Hack for Sweden</a>, 2017.
      </div>

    <script src="./script.js"></script>

  </body>
</html>
