<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
  <script src="https://www.amcharts.com/lib/3/maps/js/usaLow.js"></script>
  <script src="https://www.amcharts.com/lib/3/maps/js/swedenLow.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

  <link rel="stylesheet" href="./style.min.css"/>
  <head>
    <title>Team Awesomeness</title>
  </head>
  <body>
    <div ng-app="app" ng-controller="ctrl">
      <div class="period-box">
        <h2>{{datestring}}<h2>
        <input type="range" min="0" max="11" ng-model="selectedPeriod" id="fader">
        <button ng-Click="animate()" ng-if="play == false">play</button>
        <button ng-Click="animate()" ng-if="play">pause</button>
        <div>
          <button ng-click="setMapType('cover')" >Beläggning</button>
          <button ng-click="setMapType('nights')" >Andel övernattning</button>
        </div>
      </div>
      <div id="chartdiv" class="map"></div>

      <div ng-if="showInfo" class="info-box">
          <h2>{{selectedData.name}}</h2>
          <ul>
              <li>
                  Övernattningar: <strong>{{selectedData.nights.all}}</strong>
              </li>
              <li>
                  Andel av sveriges övernattningar: <strong>{{selectedData.nights.percentage}}%</strong>
              </li>
              <li>
                  Beläggning: <strong>{{selectedData.cover.all}}%</strong>
              </li>
              <li>
                  Medeltemp: <strong>{{selectedData.weather.temp}}°C</strong>
              </li>
              <li>
                  Nederbörd: <strong>{{selectedData.weather.preci}}mm</strong>
              </li>
          </ul>
        </div>
      </div>

    <script src="./script.js"></script>

  </body>
</html>
