$green: #51843A;
$light-green:rgb(140,181,123);
.info-box {
    border: 1px solid black;
    border-radius: 2px;
    width: 415px;
    box-shadow: 5px 5px 5px #888888;

    .date {
        position: absolute;
        top: 10px;
        right: 10px;
    }

     .info-parts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .info-part {
            display: flex;
            width: 170px;

            i {
                font-size: 40px;
                color:$green;
            }

            span.info-title {
                font-size: 14px;
            }

            span.small {
                font-size: 10px;
            }
        }


    }
}
